{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="{% static 'common/css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/hospital.png' %}">

    <title>Demo Hospital</title>
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/hospital.png' %}" width="30" height="30" alt="">
        <span style="font-weight: 600; color: indigo;">Demo Hospital</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            <a class="nav-item nav-link" href="https://rrka79wal.herokuapp.com/" target="_blank">Rohnak Agarwal</a>
        </div>
    </div>
</nav>

<div class="container body-container mb-5">
    <div class="row">
        <div class="col-12">
            {% block breadnav %}{% endblock %}
            {% if messages %}
            {% for msg in messages%}
            <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-{% if user.is_authenticated %}9{% else %}12{% endif %} col-sm-12">
            {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-12 order-first order-md-last">
            <div class="content-section">
                <h3>Quick Access</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <a href="{% url 'org-home' %}">Organization</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="{% url 'inventory-home' %}">Inventory</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>