{% extends 'common/layout.html' %}
{% load crispy_forms_tags %}
{% block breadnav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'org-home' %}">Organization</a></li>
        <li class="breadcrumb-item"><a href="{% url 'doctor-home' %}">Doctors</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ doctor.pk }}</li>
    </ol>
</nav>
{% endblock%}

{% block content %}
<div class="content-section">
    <span>
        <span><img class="rounded-circle" src="{{ doctor.image.url }}" alt="" width="80px" height="80px"></span>
        <span class="ml-3 mb-3 h3">{{ doctor.name }}</span>
    </span>
    <table class="mt-2 table table-striped">
        <tr>
            <td>ID</td>
            <td><b>{{ doctor.pk }}</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><b>{{ doctor.name }}</b></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ doctor.dob }}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{ doctor.age }} years</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ doctor.get_gender_display }}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><a href="tel:{{ doctor.mobile }}">{{ doctor.mobile }}</a></td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td>
                {% if doctor.email %}
                <a href="mailto:{{ doctor.email }}">{{ doctor.email }}</a>
                {% else %}
                {{ doctor.email }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Aadhaar Number</td>
            <td>{% if doctor.aadhaar %}{{ doctor.aadhaar }}{% endif %}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td class="pre">{{ doctor.address }}</td>
        </tr>
        <tr>
            <td>Date Created</td>
            <td>{{ doctor.date_created }}</td>
        </tr>
        <tr>
            <td>Created By</td>
            <td>
                {% if doctor.created_by.profile.pk %}
                <a href="{% url 'staff-detail' doctor.created_by.profile.pk %}">{{ doctor.created_by }}</a>
                {% else %}
                {{ doctor.created_by }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Archived</td>
            <td>{{ doctor.archived }}</td>
        </tr>
        {% if doctor.archived %}
        <tr>
            <td>Archived By</td>
            <td>
                {% if doctor.archived_by.profile.pk %}
                <a href="{% url 'staff-detail' doctor.archived_by.profile.pk %}">
                    {{ doctor.archived_by }}
                </a>
                {% else %}
                {{ doctor.archived_by }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>
    <div>
        {% if not doctor.archived %}
        <form method="post" action="{% url 'doctor-archive' doctor.pk %}">
            {% csrf_token %}
            <a class="btn btn-outline-info" href="{% url 'doctor-update' doctor.pk %}">Update</a>
            <button class="btn btn-danger" onclick="return confirm('Are you sure?');">Archive</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}