{% extends "common/layout.html" %}
{% block breadnav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'org-home' %}">Organization</a></li>
        <li class="breadcrumb-item active" aria-current="page">Departments</li>
    </ol>
</nav>
{% endblock%}

{% block content %}

<h2>Departments</h2>
<form class="form" method="GET" action="" style="display: flex;">
    <input class="form-control" type="search" name="search" style="flex: 1;"
           placeholder="{% if not search_value %}Enter id or name to search{% endif %}"
           value="{% if search_value %}{{ search_value }}{% endif %}">
    {% if search_value %}
    <a class="btn btn-secondary ml-2" href="{% url 'department-home' %}">Clear</a>
    {% else %}
    <button class="btn btn-secondary ml-2" type="submit">Search</button>
    {% endif %}
    <a class="btn btn-success ml-2" style="color: white;" href="{% url 'department-create' %}">New</a>
</form>


<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>Abbr</th>
        <th>Doctors</th>
    </tr>
    </thead>
    {% for department in departments %}
    <tr style="{% if department.archived %}background-color: #ffcccb;{% endif %}">
        <td><a href="{% url 'department-detail' department.pk %}">{{ department.name }}</a></td>
        <td>{{ department.abbr }}</td>
        <td>{{ department.doctor_count }}</td>
    </tr>
    {% endfor %}
</table>

<div style="display: flex;">
    <div>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}
    </div>

    <div style="flex: 1; text-align: center;">
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <div class="btn btn-info mb-4">{{ num }}</div>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
        {% endif %}
    </div>
</div>


{% endblock %}